/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
          transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
  z-index: 2;
}

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  position: relative;
  width: 100%;
  height: 450px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Sets transition time for slides */
.carousel-inner > .item {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  transition: 2s;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  box-shadow: inset  0  20px 20px -20px rgba(76,38,12,0.8), inset  0 -17px 20px -20px rgba(76,38,12,0.8);
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  height: 450px;
}
