/* GLOBAL STYLES
------------------------------------ */
body {
  font-family: 'Quattrocento Sans', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
  background-color: #fff1dc;
}

h1, h2 {
  /*font-family: 'Quattrocento', serif;*/
  font-family: 'Lora', serif;
  font-weight: 900;
  letter-spacing: 6px;
}

p {
  font-size: 18px;
  line-height: 35px;
  margin-top: 30px;
}

h3 {
  line-height: 30px;
}

a:hover, a:visited, a:active, a:focus {
  text-decoration: none;
}

/* CUSTOM HEADER
------------------------------------ */

.header-custom {
  box-sizing: content-box;
  border-bottom: 5px solid #28691d;
}

#logo-img {
  background: url("images/woodplanks.png"), #fff;
  background-size: 100%;
  z-index: 10;
  position: absolute;
  left: 0;
  box-shadow: 0 5px 15px -3px rgba(76,38,12,0.4);
  box-sizing: content-box;
  border: 4px solid #28691d;
  padding: 10px 30px;
  height: 90px;
  border-radius: 25px;
}

.header-custom > .container {
  height: 80px;
  position: relative;
  padding: 20px 0;
}

/* NAVIGATION CUSTOMIZATION
------------------------------------ */

.nav-custom {
  position: absolute;
  bottom: -60px;
  left: 342px;
  font-weight: 100;
  font-size: 18px;
}

.nav-custom a {
  letter-spacing: .5px;
  display: block;
  float: left;
  padding: 6px 30px 7px;
  border-right: 1px solid #28691d;
  color: #b74636;
}

.nav-custom a:hover {
  background-image: linear-gradient(transparent 10%, #ffe7aa);
}

.nav-custom a:active {
  color: #e27b6c;
}

#tree-img {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 80px;
}

.quoteButton a {
  display: block;
  position: absolute;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  border-top: 2px solid rgba(255,255,255,0.1);
  border-left: 2px solid rgba(255,255,255,0.1);
  border-right: 2px solid rgba(0,0,0,0.1);
  border-bottom: 2px solid rgba(0,0,0,0.1);
  box-shadow: 2px 2px 5px -3px rgba(0,0,0,0.6);
  top: 8px;
  right: 0;
  color: white;
  background-color: #daa520;
  border-radius: 8px;
  padding: 5px 14px 3px;
}

.quoteButton a:hover {
  background-color: #e4BB54;
}

.phoneNumber {
  font-family: 'Garamond', 'Times New Roman', serif;
  color: #28691d;
  font-size: 24px;
  font-weight: bolder;
  font-style: italic;
  position: absolute;
  bottom: 45px;
  right: 120px;
}

/* CAROUSEL AND IMAGES
------------------------------------ */

#carousel {
  box-sizing: content-box;
  border-bottom: 5px solid #28691d;
}

.slide1 {
  background-image: linear-gradient(rgba(255,255,255,0.5), transparent 25%, transparent 75%, rgba(255,255,255,0.5)), url("images/Yard_1.jpg");
  background-position: 50% 37%;
}

.slide2 {
  background-image: linear-gradient(rgba(255,255,255,0.5), transparent 25%, transparent 75%, rgba(255,255,255,0.5)), url("images/Yard_2.jpg");
  background-position: center;
}

.slide3 {
  background: linear-gradient(rgba(255,255,255,0.5), transparent 25%, transparent 75%, rgba(255,255,255,0.5)), url("images/Yard_3.jpg");
  background-position: 50% 40%;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* CONTENT STYLES
------------------------------------ */

.container .marketing {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(76,38,12,0.4);
  margin: 0;
  padding: 35px 20px;
  border-radius: 0 0 10px 10px;
}

.home-bg {
  background: radial-gradient(circle at right 15%, rgba(255,255,255,0.5), white 40%), url('images/Yard_1.jpg');
  background-position: right 70%;
  background-size: 120%;
  padding: 35px 110px !important;
  text-shadow: 0 0 3px white;
  background-repeat: no-repeat;
}

.services-bg {
  background: radial-gradient(circle at right 15%, rgba(255,255,255,0.5), white 60%), url('images/ornaments.jpg');
  background-position: 0% center;
  background-size: 130%;
  text-shadow: 0 0 3px white;
  background-repeat: no-repeat;
}

.products-bg {
  background: radial-gradient(at right 15%, rgba(255,255,255,0.5), white 45%), url('images/rocks.jpg');
  background-position: 50% 0%;
  background-size: 100%;
  text-shadow: 0 0 3px white;
  background-repeat: no-repeat;
}

.marketing h1 {
  color: #daa520;
  text-align: center;
  text-shadow: 0 0 3px white, 1px 2px 3px rgba(0,0,0,0.2);
}

.overlay {
  display: table;
  text-align: center;
  padding: 0 60px 40px;
  float: right;
  margin: 75px 30px 0 0;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.9);
  border-top: 6px solid #daa520;
  z-index: 8;
  width: 600px;
  height: 300px;
  background-color: rgba(255,255,255,0.9);
  color: #444;
}

.heading {
  display: table-cell;
  vertical-align: middle;
}

.heading h1 {
  color: #28691d;
  text-shadow: 0 0 3px white, 1px 2px 3px rgba(0,0,0,0.2);
}

.heading hr {
  margin: 20px 90px;
  border-color: #999;
}

.heading h3 {
  color: #444;
  text-shadow: 0 0 3px white;
}

.col-lg-6.services {
  padding-top: 30px;
  padding-left: 5%;
}

.services {
  font-size: 18px;
  line-height: 40px;
}

.services-bg h3 {
  font-weight: bold;
  letter-spacing: .5px;
  color: #28691d;
}

.services ul li {
  font-size: 20px;
  font-weight: bold;
}

.services ul li ul li {
  font-weight: normal;
}

.products {
  width: 100%;
  padding: 0 45px;
}

.flowers1 {
  width: 30%;
  max-width: 360px;
  margin: 20px 45px 45px 0;
  float: right;
}

.veggie-list {
  width: auto;
  align: center;
}

.veggie-list ul {
  float: left;
}

/* UTILITY CLASSES
--------------------------- */

.positioner {
  position: relative;
}

/* Correcting for Bootstrap's responsive columns */
@media screen and (min-width: 768px) {
  .col-lg-8 {
    float: left;
    display: inline-block;
    width: 66.66666667%;
  }
  .col-lg-4 {
    float: left;
    display: inline-block;
    width: 33.33333333%;
  }
}

@media screen and (min-width: 992px) {
  #tree-img {
    display: inline;
  }
  #logo-img {
    left: -30px;
  }
  .nav-custom {
    left: 312px;
  }
  .quoteButton a {
    top: 8px;
    right: 97px;
  }
  .phoneNumber {
    bottom: 5px;
    right: 85px;
  }
}
