/* BASE STYLES FOR ELEMENTS */

@mixin transition-default {
  transition: all .3s ease-out;
}

body {
  color: white;
}

// .container {
//   max-width: 1000px;
// }

.main-content {
  height: 100%;
  width: 100%;
}

// Bourbon Refills texture classes for textured elements

.texture {
  $texture-top-background: lighten(#ddf0ef, 1%);
  $texture-bottom-background: darken(#ddf0ef, 10%);
  height: 5em;
  width: 100%;

  .texture-normal {
    // gradient color 1, gradient color 2, gradient angle, texture-number, 0=inverted or 1=normal
    @include texture(180deg, $texture-top-background, $texture-bottom-background, 67, 1);
  }

  .texture-inverted {
    // gradient color 1, gradient color 2, gradient angle, texture-number, 0=inverted or 1=normal
    @include texture(180deg, $texture-top-background, $texture-bottom-background, 67, 0);
  }
}
