/* TREEHOUSE WIDGET STYLES */

.treehouse-widget {
  display: none;
  text-align: center;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 22px;
  }
  .legend {
    margin-top: 10px;
  }
  #topics {
    text-align: left;
    li {
      height: 24px;
      border-left: 24px solid black;
      padding-left: 12px;
      margin: 12px;
    }
    span {
      float: right;
      font-weight: bold;
    }
    em {
      font-style: normal;
    }
  }
  .pie-wrapper {
    width: 320px;
    margin: 0 auto;
    .pie {
      margin-left: -40px;
    }
  }
}
