<div id="top-bar">
  <div class="container">
    <header class="main-header">
      <nav class="navbar">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#lead-panel">Taylor Ham</a>
        </div>
        <div class="collapse navbar-collapse pull-right" id="nav-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="#work-panel">Portfolio</a>
            </li>
            <li>
              <a href="#training-panel">Training</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </div>
</div><!-- /.top-bar -->

{{outlet}}

<!-- Bootstrap core JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script>window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- D3 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js"></script>
