{{outlet}}

<section class="main-content">
  <div class="treehouse-widget">
    <h2>TeamTreehouse.com Achievements</h2>
    <h3><strong class="total"></strong> total points earned</h3>
    <div class="pie"></div>
    <div class="legend">
      <ul id="topics" class="list-unstyled">
      </ul>
    </div>
  </div>
</section><!-- /.main-content -->

<script src="/treehouse.js"></script>

<!-- {{outlet}} -->
