@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Economica:400,700);

body {
  background-color: #001b27;
  color: white;
}

header a {
  color: white;
  font-family: 'Economica', sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
}

.container {
  max-width: 1000px;
  min-height: 300px;
  background: url(/images/header.png) no-repeat top center;
  background-size: 100%;
}

.navbar {
  margin: 74px 0 0;
}

.navbar-brand {
  float: left;
  font-family: 'Economica', sans-serif;
  color: white;
  font-size: 40px;
  letter-spacing: 20px;
  margin: 0 75px 0 17px;
  text-transform: uppercase;
}

.navbar-brand:hover {
  color: white;
}

.header-hr {
  height: 21px;
  width: 100%;
  opacity: .25;
}

.header-hr > hr {
  margin-top: 0;
  clear: both;
  border-top: 1px solid white;
}

.main-content {
  width: 100%;
}

/* TREEHOUSE WIDGET STYLES */

.treehouse-widget {
  display: none;
  width: 650px;
  text-align: center;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.legend {
  margin-top: 10px;
  float: right;
}

#topics {
  width: 300px;
  text-align: left;
}

#topics li {
  height: 24px;
  border-left: 24px solid black;
  padding-left: 12px;
  margin: 12px;
}

#topics span {
  float: right;
  font-weight: bold;
}

#topics em {
  font-style: normal;
}

.pie {
  float: left;
  width: 305px;
  margin-left: -50px;
}

/* EXAMPLES CLASSES */

.thumbnail {
  transition: all .3s ease-out;
  background-color: #111;
  border-radius: 3px;
  border-color: #3F5C69;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4)
}

.thumbnail img {
  z-index: 400;
}

.thumbnail:hover {
  transform: scale(1.02);
  box-shadow: 3px 8px 10px rgba(0,0,0,0.3);
}

.thumbnail:hover .example-header {
  background-color: #113646;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.thumbnail:hover .example-caption {
  opacity: 1;
}

.example-header {
  transition: all .3s ease-out;
  background-color: #111;
  padding-left: 15px;
  margin: -4px -4px 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.example-header h3 {
  font-family: 'Economica', sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 4px;
  line-height: 44px;
}

.example-caption {
  display: table;
  transition: all .3s ease-out;
  z-index: 500;
  position: absolute;
  top: 48px;
  left: 0;
  height: 100%;
  opacity: 0;
  margin: 0 4px;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(255,255,255,0.8);
  color: #333;
}

.example-caption p {
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

.example-tags {

}

/* LOADER CLASSES */

#loader-wrapper {
  display: none;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: transparent;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -100px 0 0 -75px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #AAA;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #777;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #444;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*  Bootstrap Column Clearfix */
/* use .auto-clear class on .row elements */

@media (max-width: 767px) {
    .auto-clear .col-xs-1:nth-child(12n+1) {clear:left;}
    .auto-clear .col-xs-2:nth-child(6n+1) {clear:left;}
    .auto-clear .col-xs-3:nth-child(4n+1) {clear:left;}
    .auto-clear .col-xs-4:nth-child(3n+1) {clear:left;}
    .auto-clear .col-xs-6:nth-child(odd) {clear:left;}
}

@media (min-width: 768px) and (max-width: 991px) {
    .auto-clear .col-sm-1:nth-child(12n+1) {clear:left;}
    .auto-clear .col-sm-2:nth-child(6n+1) {clear:left;}
    .auto-clear .col-sm-3:nth-child(4n+1) {clear:left;}
    .auto-clear .col-sm-4:nth-child(3n+1) {clear:left;}
    .auto-clear .col-sm-6:nth-child(odd) {clear:left;}
}
@media (min-width: 992px) {
    .auto-clear .col-md-1:nth-child(12n+1) {clear:left;}
    .auto-clear .col-md-2:nth-child(6n+1) {clear:left;}
    .auto-clear .col-md-3:nth-child(4n+1) {clear:left;}
    .auto-clear .col-md-4:nth-child(3n+1) {clear:left;}
    .auto-clear .col-md-6:nth-child(odd) {clear:left;}
}
@media (min-width: 1200px) {
    .auto-clear .col-lg-1:nth-child(12n+1) {clear:left;}
    .auto-clear .col-lg-2:nth-child(6n+1) {clear:left;}
    .auto-clear .col-lg-3:nth-child(4n+1) {clear:left;}
    .auto-clear .col-lg-4:nth-child(3n+1) {clear:left;}
    .auto-clear .col-lg-6:nth-child(odd) {clear:left;}
}

























* {}
