@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Economica:400,700');
@import "bourbon/bourbon";

@mixin transition-default {
  transition: all .3s ease-out;
}

body {
  background-color: #001b27;
  color: white;
}

header a {
  @include transition-default;
  color: white;
  font-family: 'Economica', sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
}

.nav-item > .active {
  background-color: #eee;
  color: #23527c;
  pointer-events: none;
}

.container {
  max-width: 1000px;
  min-height: 300px;
  background: url(/images/header.png) no-repeat top center;
  background-size: 100%;
}

.navbar {
  margin: 74px 0 0;
}

.navbar-brand {
  float: left;
  font-family: 'Economica', sans-serif;
  color: white;
  font-size: 40px;
  letter-spacing: 20px;
  margin: 0 75px 0 17px;
  text-transform: uppercase;
  &:hover {
    color: inherit;
  }
}

.header-hr {
  height: 21px;
  width: 100%;
  opacity: .25;
  hr {
    margin-top: 0;
    clear: both;
    border-top: 1px solid white;
  }
}

.main-content {
  width: 100%;
}

/* TREEHOUSE WIDGET STYLES */

.treehouse-widget {
  display: none;
  width: 650px;
  text-align: center;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.legend {
  margin-top: 10px;
  float: right;
}

#topics {
  width: 300px;
  text-align: left;
  li {
    height: 24px;
    border-left: 24px solid black;
    padding-left: 12px;
    margin: 12px;
  }
  span {
    float: right;
    font-weight: bold;
  }
  em {
    font-style: normal;
  }
}

.pie {
  float: left;
  width: 305px;
  margin-left: -50px;
}

/* EXAMPLES CLASSES */

.thumbnail {
  @include transition-default;
  background-color: #111;
  border-radius: 3px;
  border-color: #3F5C69;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  img {
    z-index: 400;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    @include filter(none);
    @include transition-default;
  }
  &:hover {
    @include transform(scale(1.05));
    box-shadow: 3px 8px 10px rgba(0,0,0,0.3);
    .example-header {
      background-color: #113646;
      text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    }
    img {
      @include transform(scale(1.05) translateZ(0));
      @include filter(blur(2px));
    }
    .example-caption,
    .example-tags,
    .example-tags span,
    .example-caption-text {
      opacity: 1;
    }
    .example-caption-text {
      padding-top: 20px;
    }
    .example-tags span {
      @include backface-visibility(hidden);
      @include transform(translateY(0) translateZ(0));
      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          transition-delay: .2s + ($i * 0.1s);
        }
      }
    }
  }
}

.example-header {
  @include transition-default;
  background-color: #111;
  padding-left: 15px;
  margin: -4px -4px 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  h3 {
    font-family: 'Economica', sans-serif;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 4px;
    line-height: 44px;
  }
}

.example-body {
  position: relative;
  overflow: hidden;
}

.example-caption {
  display: block;
  @include transition-default;
  z-index: 500;
  overflow: hidden;
  @include position(absolute, 0 null null 0);
  height: 100%;
  width: 100%;
  opacity: 0;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0 0 8px white;
  background-color: rgba(255,255,255,0.92);
  color: #333;
}

.example-caption-text {
  @include transition-default;
  transition-delay: .2s;
  display: block;
  opacity: 0;
  padding: 30px 20px 20px;
  p {
    padding: 0;
    margin: 0;
 }
}

.example-tags {
  display: block;
  width: 100%;
  margin: 0 auto;
  @include transition-default;
  position: absolute;
  bottom: 10px;
  opacity: 0;
  span {
    border: 3px solid #666;
    background-color: rgba(255,255,255,0.9);
    border-radius: 12px;
    line-height: 40px;
    @include transform(translateY(20px) translateZ(0));
    opacity: 0;
    margin: 0 1px;
    padding: 3px 8px 4px;
    @include transition-default;
  }
}

/* TAG COLORING */

@mixin tag-coloring($color) {
  border-color: $color !important;
  color: $color;
}

.bootstrap {
  @include tag-coloring(#6f5499);
}
.css {
  @include tag-coloring(#3079ab);
}
.html {
  @include tag-coloring(#39add1);
}
.javascript,
.jquery {
  @include tag-coloring(#c25975);
}
.rails {
  @include tag-coloring(#e15258);
}

/* LOADER CLASSES */

#loader-wrapper {
  display: none;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: transparent;
}

@mixin loader-border($color, $girth) {
  border: $girth solid transparent;
  border-radius: 50%;
  border-top-color: $color;
}

@mixin spin-helper($position, $color, $girth, $speed) {
  @if $position == 1 {
    @include position(relative, 50% null null 50%);
  }
  @else {
    content: "";
    @if $position == 2 {
      @include position(absolute, $girth);
    }
    @if $position == 3{
      @include position(absolute, $girth * 3);
    }
  }
  @include loader-border($color, $girth);
  @include animation(spin $speed linear infinite);
}

@mixin spin-loader($color, $size, $speed, $girth) {
  display: block;
  width: $size;
  height: $size;
  margin: #{$size * -0.6667} 0 0 #{$size * -0.5};
  @include spin-helper(1, lighten($color, 25%), $girth, $speed);
  &:before {
    @include spin-helper(2, $color, $girth, #{$speed * 1.5})
  }
  &:after {
    @include spin-helper(3, darken($color, 25%), $girth, #{$speed * 0.75});
  }
}

#loader {
  @include spin-loader(#777, 150px, 2s, 5px);
}

@include keyframes(spin) {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

/*  Bootstrap Column Clearfix */
/* use .auto-clear class on .row elements */

@mixin auto-clear($screen-size) {
  .auto-clear {
    @for $i from 1 through 6 {
      @if $i != 5 {
        .col-#{$screen-size}-#{$i}:nth-child(#{12 / $i}n + 1) {
          clear: left;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  @include auto-clear(xs);
}
@media (min-width: 768px) and (max-width: 991px) {
  @include auto-clear(sm);
}
@media (min-width: 992px) {
  @include auto-clear(md);
}
@media (min-width: 1200px) {
  @include auto-clear(lg);
}

























* {}
