/* HEADER AND NAV STYLES */

#top-bar {
  z-index: 600;
  width: 100%;
  position: fixed;
  height: 73px;
  box-shadow: 5px 0 5px -2px rgba(0,0,0,0);
  padding-top: 74px;
  background-color: rgba(0,67,63,0);
}

header a {
  @include transition-default;
  color: white;
  font-family: 'Economica', sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  &:focus {
    color: inherit;
  }
}

.navbar {
  margin-bottom: 20px;
}

.nav-item > .active {
  background-color: #eee;
  color: #23527c;
  pointer-events: none;
}

.navbar-brand {
  float: left;
  font-family: 'Economica', sans-serif;
  color: white;
  font-size: 40px;
  letter-spacing: 20px;
  margin: 0 75px 0 0;
  text-transform: uppercase;
  &:hover {
    color: inherit;
  }
  @media (min-width: 992px) {
    margin-left: calc(50% - 465px);
  }
}

.header-hr {
  height: 21px;
  width: 100%;
  opacity: .25;
  hr {
    margin-top: 0;
    clear: both;
    border-top: 1px solid white;
  }
}
