/* HEADER AND NAV STYLES */

#top-bar {
  // @include transform(translate3d(0,0,0));
  @include backface-visibility(hidden);
  // position: fixed;
  // top: 0;
  z-index: 600;
  width: 100%;
  border-bottom: 1px solid rgba(255,255,255,.01);
  font-family: 'Economica', sans-serif;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,0.4);
  background: linear-gradient(176deg, #004440, #001f2d), rgba(0,67,63,1);
}

header a {
  @include transition-default;
  color: white;
  font-size: 24px;
  letter-spacing: 2px;
  &:focus {
    color: inherit;
  }
}

.navbar {
  margin-bottom: 0;
  &-toggle {
    width: 37px;
    background-color: #001f2d;
    padding: 9px 7px;
    border: 1px solid #ccc;
    & .icon-bar {
      width: 100%;
      background-color: #ccc;
    }
  }
}

.nav-item > .active {
  background-color: #eee;
  color: #23527c;
  pointer-events: none;
}

.navbar-brand {
  font-family: 'Economica', sans-serif;
  font-size: 32px;
  letter-spacing: 7px;
  color: white;
  text-transform: uppercase;
  &:hover {
    color: inherit;
  }
}

@media (min-width: 768px) {
  .nav {
    float: right;
  }
}

// @media (min-width: 992px) {
//   #top-bar {
//     // padding-top: 40px;
//     background: linear-gradient(184deg, rgba(255,255,255,0.1), rgba(0,0,0,0.3));
//     box-shadow: 0 3px 10px -2px rgba(0,0,0,0);
//   }
//   .navbar-brand {
//     display: inline-block;
//     font-size: 40px;
//     letter-spacing: 20px;
//     margin-left: 4px;
//   }
// }
//
// @media (min-width: 1200px) {
// }
