div[id*='-panel']:not(#footer-panel) {
  width: 100%;
  min-height: 500px;
  overflow: hidden;
  zoom: 1;
  padding: 50px 0;
  & > .container {
    display: block;
  }
}

.align-wrapper {
  display: table;
}

.v-align {
  display: table-cell;
  vertical-align: middle;
}

#lead-panel {
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/subtle_grunge.png") center, linear-gradient(170deg, rgba(0,31,45,0.01), rgba(0,0,0,1)), url('/images/header.png') no-repeat top center / 1000px, #001b27 center;
  text-align: center;
  .align-wrapper {
    width: 100%;
    min-height: 500px;
  }
  .gravatar img {
    width: 100%;
    max-width: 250px;
    border-radius: 50%;

  }
  .lead-blurb {
    font-family: 'Economica', sans-serif;
    font-size: 30px;
    line-height: 50px;
    @media (max-width: 480px) {
      margin: 15px auto;
      width: 300px;
    }
  }
}

#work-panel {
  @include textureHelper(#1b0027, 33, 1);
  overflow: hidden;
}

#training-panel {
  @include textureHelper(#27001b, 27, 1);
  position: relative;
  .align-wrapper {
    width: 100%;
  }
}

#footer-panel {
  min-height: 300px;
  background-color: #001b27;
}

.panel-heading {
  display: inline-block;
  margin: 0 auto 40px;
  padding: 5px;
  font-family: 'Economica', sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}
