div[id*='-panel']:not(#footer-panel) {
  width: 100%;
  min-height: 700px;
  text-align: center;
}

#lead-panel {
  @include textureHelper(#001b27, 48);
  padding-top: 300px;
  // background: url(/images/header.png) #001b27 no-repeat top center;
  // background-size: 1000px auto;
}

#work-panel {
  @include textureHelper(#1b0027, 33);
  padding: 100px 0;
  overflow: hidden;
}

#training-panel {
  @include textureHelper(#27001b, 27);
  position: relative;
}

#footer-panel {
  min-height: 300px;
  background-color: #001b27;
}
