html {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	background-color: #EEE;
}

ul {
	clear: both;
	margin-top: .5em;
}

a {
	font-size: .9em;
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #79A;
}

h1 {
	clear: both;
	text-transform: uppercase;
	font-size: 1.8em;
	padding-top: .5em;
	margin: 0 0 .5em 0;
	border-bottom: 2px dotted #356;
}

h2, h3, h4, h5 {
	margin: .1em 0;
}

h4 {
	color: #356;
}

#main {
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

#header li {
	display: inline;
	padding-right: 1em;
}

#name {
	border: none;
	padding: 0px;
	margin-top: 30px;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: .28em;
	font-size: 3em;
	text-shadow: 0px 0px 2px #FFF, -3px 2px 2px #BCE;
}

#contact {
	list-style: none;
	font-size: 1.4em;
	padding: 0;
}

.tech {
	float: left;
	line-height: 1.4em;
	font-weight: 900;
	font-variant: small-caps;
}

.skills {
	font-size: .9em;
	float: right;
}

.content p {
	text-align: justify;
}

.content h1 {
	margin: 5px -5%;
}

.content {
	padding: 0 5%;
}

.heading {
	float: left;
	margin: 1em 0 0 0;
}

.date {
	padding: 1px 15px;
	border: 1px solid lightblue;
	margin: -8px;
	background: #F5F5F5;
	text-align: right;
	float: right;
	margin-top: 1em;
}

#footer {
	text-align: center;
	font-size: .9em;
}
